# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\23521\Desktop\mail\wemail_master_6.13\wemail_master\.idea/dataSources/
/dataSources.local.xml
